.entry-content .wp-block-sam-gutenberg-static,
.wp-block-sam-gutenberg-static {
  background: rgba(254, 243, 224, 0.52);
  border: 5px #f7b733 solid;
  padding: 1rem; }
  .entry-content .wp-block-sam-gutenberg-static h2,
  .wp-block-sam-gutenberg-static h2 {
    color: #222;
    font-size: 2rem;
    margin: 1rem 0; }
  .entry-content .wp-block-sam-gutenberg-static p,
  .wp-block-sam-gutenberg-static p {
    font-size: 1.4rem; }
