.wp-block-sam-gutenberg-alert-box {
  border-top: 6px solid transparent;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-align: center;
      align-items: center;
  font-size: 16px;
  min-height: 60px; }
  .wp-block-sam-gutenberg-alert-box .label {
    -ms-flex: 1;
        flex: 1;
    font-weight: bold;
    line-height: 1;
    padding: 6px 10px;
    margin-left: -20px;
    min-height: 30px;
    text-align: center;
    text-transform: uppercase; }
  .wp-block-sam-gutenberg-alert-box .message-body {
    -ms-flex: 3;
        flex: 3;
    padding: 10px 20px;
    width: 100%; }
    .wp-block-sam-gutenberg-alert-box .message-body p:last-child {
      margin-bottom: 0; }

body:not(.wp-admin) .wp-block-sam-gutenberg-alert-box {
  margin: 20px 0; }
.wp-block-sam-gutenberg-cta {
  padding: 10px 20px; }
  .wp-block-sam-gutenberg-cta .cta-title,
  .wp-block-sam-gutenberg-cta .cta-message,
  .wp-block-sam-gutenberg-cta .cta-btn {
    text-align: center; }
  .wp-block-sam-gutenberg-cta .cta-message {
    margin-bottom: 20px; }
  .wp-block-sam-gutenberg-cta .wrapper-cta-btn {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center; }
  .wp-block-sam-gutenberg-cta .cta-btn {
    display: inline-block;
    padding: 6px 12px; }

.components-panel__body .is-opened .components-panel__row label {
  max-width: 100%; }
