.wp-block-sam-gutenberg-cta {
	padding: 10px 20px;
	.cta-title,
	.cta-message,
	.cta-btn {
		text-align: center;
	}
	.cta-message {
		margin-bottom: 20px;
	}
	.wrapper-cta-btn {
		display: flex;
		justify-content: center;
	}

	.cta-btn {
		display: inline-block;
		padding: 6px 12px;
	}
}

body:not(.wp-admin) {
	.wp-block-sam-gutenberg-alert-box {
		margin: 20px 0;
	}
}
