.wp-block-sam-gutenberg-cta {
	padding: 30px 40px;
	.cta-title,
	.cta-message,
	.cta-btn {
		text-align: center;
	}
	.cta-title {
		font-size: 2.4rem;
		font-size: 24px;
	}
	.cta-message {
		margin-bottom: 0.75em;
	}
	.wrapper-cta-btn {
		display: flex;
		justify-content: center;
		margin-bottom: 0.75em;
	}

	.cta-btn {
		display: inline-block;
		padding: 6px 12px;
	}
}

.components-panel__body .is-opened .components-panel__row label {
	max-width: 100%;
}

body:not(.wp-admin) {
	.wp-block-sam-gutenberg-cta {
		margin-bottom: 0.75em;
		margin-top: 0.75em;
	}
}
