.wp-block-sam-gutenberg-cta {
	padding: 10px 20px;
	.cta-title,
	.cta-message,
	.cta-btn {
		text-align: center;
	}
	.cta-message {
		margin-bottom: 20px;
	}
	.wrapper-cta-btn {
		display: flex;
		justify-content: center;
	}

	.cta-btn {
		display: inline-block;
		padding: 6px 12px;
	}
}

.components-panel__body .is-opened .components-panel__row label {
	max-width: 100%;
}

body:not(.wp-admin) {
	.wp-block-sam-gutenberg-cta {
		
	}
}
