.wp-block-sam-gutenberg-alert-box {
	border-top: 6px solid transparent;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-size: 16px;
	min-height: 60px;

	.label {
		flex: 1;
		font-weight: bold;
		line-height: 1;
		padding: 6px 10px;
		margin-left: -20px;
		min-height: 30px;
		text-align: center;
		text-transform: uppercase;
	}

	.message-body {
		flex: 3;
		padding: 10px 20px;
		width: 100%;
		p:last-child {
			margin-bottom: 0;
		}
	}
}

body:not(.wp-admin) {
	.wp-block-sam-gutenberg-alert-box {
		margin: 20px 0;
	}
}
